<%- include("partials/header") -%>

<section>
  <h2>Home</h2>

  <ul>
    <%=homeCont %> <% postsArray.forEach((post)=>{ %>

    <li>
      <h3 class="post-title"><%= post.title %></h3>
      <div>
        <p class="post-content">
          <%= post.content.substring(0,100) %>...
          <a href="/posts/<%=post.title%>">>Read more</a>
        </p>
      </div>
    </li>
    <% }) %>
  </ul>
</section>

<%- include("partials/footer") -%>
